<% layout('pdf/layout/base.html') %>
<table class="invoice-info-container">
  <tr>
    <td rowspan="2" class="client-name">
      Vasilis Souvatzis
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      123 Some street
    </td>
  </tr>
  <tr>
    <td>
      Invoice Date: <strong>May 24th, 2021</strong>
    </td>
    <td>
      Thessaloniki Greece, 56665
    </td>
  </tr>
  <tr>
    <td>
      Invoice No: <strong>555</strong>
    </td>
    <td>
      example@vasisouv.gr
    </td>
  </tr>
</table>


<table class="line-items-container">
  <thead>
  <tr>
    <th class="heading-quantity">Qty</th>
    <th class="heading-description">Description</th>
    <th class="heading-price">Price</th>
    <th class="heading-subtotal">Subtotal</th>
  </tr>
  </thead>
  <tbody>
  <% ;(d.items || []).forEach(item => { %>
  <tr>
    <td><% = item.quantity %></td>
    <td><% = item.description %></td>
    <td class="right"><% = item.price %>€</td>
    <td class="bold"><% = (Number(item.price) * item.quantity).toFixed(2) %>€</td>
  </tr>
  <% }) %>
  </tbody>
</table>


<table class="line-items-container has-bottom-border">
  <thead>
  <tr>
    <th>Payment Info</th>
    <th>Due By</th>
    <th>Total Due</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="payment-info">
      <div>
        Account No: <strong>123567744</strong>
      </div>
      <div>
        Routing No: <strong>120000547</strong>
      </div>
    </td>
    <td class="large">May 24th, 2021</td>
    <td class="large total">90.00€</td>
  </tr>
  </tbody>
</table>


